@charset "UTF-8";
.mine-cart-dialog {
  position: fixed;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(10px);
  z-index: 20;
  background-color: rgba(2, 36, 57, 0.6666666667);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mine-cart-dialog--container {
  box-shadow: var(--md-sys-elevation-12);
  display: flex;
  width: 1150px;
  height: 678px;
  background: white;
  flex-direction: column;
  padding: 1rem;
  position: absolute;
}
.mine-cart-dialog-title {
  flood-color: var(--azulito);
  font-weight: 900;
  font-size: 84px;
  text-align: center;
}
.mine-cart-dialog-main {
  flex-grow: 1;
  display: flex;
  height: 0;
  column-gap: 1rem;
}
.mine-cart-dialog-main > * {
  flex: 1 0 0;
}
.mine-cart-dialog-main--left {
  padding-right: 1rem;
  overflow: auto;
}
.mine-cart-dialog-main--right {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.mine-cart-dialog-close {
  position: absolute;
  height: 24px;
  width: 24px;
  right: 12px;
  top: 12px;
  cursor: pointer;
}
.mine-cart-dialog .section > p, .mine-cart-dialog .section > label {
  text-align: end;
}
.mine-cart-dialog .section > hr {
  width: 100%;
}
.mine-cart-dialog-sending-data, .mine-cart-dialog-sending-calc {
  display: flex;
  flex-direction: column;
}
.mine-cart-dialog-sending-data-title--container, .mine-cart-dialog-sending-calc-title--container {
  display: flex;
  justify-content: space-between;
}
.mine-cart-dialog-sending-data-title--buttons, .mine-cart-dialog-sending-calc-title--buttons {
  display: flex;
  column-gap: 1rem;
}
.mine-cart-dialog-sending-data-title--buttons .mine-button, .mine-cart-dialog-sending-calc-title--buttons .mine-button {
  background-color: var(--primary);
  color: white;
}
.mine-cart-dialog-sending-data-body, .mine-cart-dialog-sending-calc-body {
  align-self: end;
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.2rem;
  row-gap: 0.2rem;
}
.mine-cart-dialog-sending-data-body--left, .mine-cart-dialog-sending-calc-body--left {
  text-align: end;
}
.mine-cart-dialog-sending-data-body input, .mine-cart-dialog-sending-data-body--right, .mine-cart-dialog-sending-calc-body input, .mine-cart-dialog-sending-calc-body--right {
  font-family: Nunito;
  font-weight: 700;
}
.mine-cart-dialog-sending-data-body input.distance, .mine-cart-dialog-sending-data-body--right.distance, .mine-cart-dialog-sending-calc-body input.distance, .mine-cart-dialog-sending-calc-body--right.distance {
  position: relative;
  display: inline-block;
}
.mine-cart-dialog-sending-data-body input.distance::after, .mine-cart-dialog-sending-data-body--right.distance::after, .mine-cart-dialog-sending-calc-body input.distance::after, .mine-cart-dialog-sending-calc-body--right.distance::after {
  content: " m";
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: #333;
}
.mine-cart-dialog-sending-data-body .price::after, .mine-cart-dialog-sending-calc-body .price::after {
  content: " €";
}
.mine-cart-dialog-sending-data-body .descuento::before, .mine-cart-dialog-sending-calc-body .descuento::before {
  content: "-";
}
.mine-cart-dialog-totals {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  justify-content: end;
}
.mine-cart-dialog-totals p {
  text-align: end;
  min-width: max-content;
  font-size: 1.5rem;
}
.mine-cart-dialog-totals p span {
  font-weight: 900;
}
.mine-cart-dialog-totals-buttons {
  display: flex;
  column-gap: 1rem;
  justify-content: end;
  margin-top: 1rem;
}

/*# sourceMappingURL=style.css.map */
