@font-face {
  font-family: Nunito;
  src: url('/src/assets/fonts/Nunito-VariableFont_wght.ttf');
}

:root {
  --sombra-1: rgba(0, 0, 0, 0.2);
  --sombra-2: rgba(0, 0, 0, 0.14);
  --sombra-3: rgba(0, 0, 0, 0.12);
  --md-sys-elevation-0: 0px 0px 0px 0px var(--sombra-1),
    0px 0px 0px 0px var(--sombra-2), 0px 0px 0px 0px var(--sombra-3);
  --md-sys-elevation-1: 0px 2px 1px -1px var(--sombra-1),
    0px 1px 1px 0px var(--sombra-2), 0px 1px 3px 0px var(--sombra-3);
  --md-sys-elevation-2: 0px 3px 1px -2px var(--sombra-1),
    0px 2px 2px 0px var(--sombra-2), 0px 1px 5px 0px var(--sombra-3);
  --md-sys-elevation-3: 0px 3px 3px -2px var(--sombra-1),
    0px 3px 4px 0px var(--sombra-2), 0px 1px 8px 0px var(--sombra-3);
  --md-sys-elevation-4: 0px 2px 4px -1px var(--sombra-1),
    0px 4px 5px 0px var(--sombra-2), 0px 1px 10px 0px var(--sombra-3);
  --md-sys-elevation-5: 0px 3px 5px -1px var(--sombra-1),
    0px 5px 8px 0px var(--sombra-2), 0px 1px 14px 0px var(--sombra-3);
  --md-sys-elevation-6: 0px 3px 5px -1px var(--sombra-1),
    0px 6px 10px 0px var(--sombra-2), 0px 1px 18px 0px var(--sombra-3);
  --md-sys-elevation-7: 0px 4px 5px -2px var(--sombra-1),
    0px 7px 10px 1px var(--sombra-2), 0px 2px 16px 1px var(--sombra-3);
  --md-sys-elevation-8: 0px 5px 5px -3px var(--sombra-1),
    0px 8px 10px 1px var(--sombra-2), 0px 3px 14px 2px var(--sombra-3);
  --md-sys-elevation-9: 0px 5px 6px -3px var(--sombra-1),
    0px 9px 12px 1px var(--sombra-2), 0px 3px 16px 2px var(--sombra-3);
  --md-sys-elevation-10: 0px 6px 6px -3px var(--sombra-1),
    0px 10px 14px 1px var(--sombra-2), 0px 4px 18px 3px var(--sombra-3);
  --md-sys-elevation-11: 0px 6px 7px -4px var(--sombra-1),
    0px 11px 15px 1px var(--sombra-2), 0px 4px 20px 3px var(--sombra-3);
  --md-sys-elevation-12: 0px 7px 8px -4px var(--sombra-1),
    0px 12px 17px 2px var(--sombra-2), 0px 5px 22px 4px var(--sombra-3);
  --md-sys-elevation-13: 0px 7px 8px -4px var(--sombra-1),
    0px 13px 19px 2px var(--sombra-2), 0px 5px 24px 4px var(--sombra-3);
  --md-sys-elevation-14: 0px 7px 9px -4px var(--sombra-1),
    0px 14px 21px 2px var(--sombra-2), 0px 5px 26px 4px var(--sombra-3);
  --md-sys-elevation-15: 0px 8px 9px -5px var(--sombra-1),
    0px 15px 22px 2px var(--sombra-2), 0px 6px 28px 5px var(--sombra-3);
  --md-sys-elevation-16: 0px 8px 10px -5px var(--sombra-1),
    0px 16px 24px 2px var(--sombra-2), 0px 6px 30px 5px var(--sombra-3);
  --md-sys-elevation-17: 0px 8px 11px -5px var(--sombra-1),
    0px 17px 26px 2px var(--sombra-2), 0px 6px 32px 5px var(--sombra-3);
  --md-sys-elevation-18: 0px 9px 11px -5px var(--sombra-1),
    0px 18px 28px 2px var(--sombra-2), 0px 7px 34px 6px var(--sombra-3);
  --md-sys-elevation-19: 0px 9px 12px -6px var(--sombra-1),
    0px 19px 29px 2px var(--sombra-2), 0px 7px 36px 6px var(--sombra-3);
  --md-sys-elevation-20: 0px 10px 13px -6px var(--sombra-1),
    0px 20px 31px 3px var(--sombra-2), 0px 8px 38px 7px var(--sombra-3);
  --md-sys-elevation-21: 0px 10px 13px -6px var(--sombra-1),
    0px 21px 33px 3px var(--sombra-2), 0px 8px 40px 7px var(--sombra-3);
  --md-sys-elevation-22: 0px 10px 14px -6px var(--sombra-1),
    0px 22px 35px 3px var(--sombra-2), 0px 8px 42px 7px var(--sombra-3);
  --md-sys-elevation-23: 0px 11px 14px -7px var(--sombra-1),
    0px 23px 36px 3px var(--sombra-2), 0px 9px 44px 8px var(--sombra-3);
  --md-sys-elevation-24: 0px 11px 15px -7px var(--sombra-1),
    0px 24px 38px 3px var(--sombra-2), 0px 9px 46px 8px var(--sombra-3);
  --md-sys-elevation-transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  will-change: box-shadow;
}

.mdc-elevation--z0 {
  box-shadow: var(--md-sys-elevation-0);
}

.mdc-elevation--z1 {
  box-shadow: var(--md-sys-elevation-1);
}

.mdc-elevation--z2 {
  box-shadow: var(--md-sys-elevation-2);
}

.mdc-elevation--z3 {
  box-shadow: var(--md-sys-elevation-3);
}

.mdc-elevation--z4 {
  box-shadow: var(--md-sys-elevation-4);
}

.mdc-elevation--z5 {
  box-shadow: var(--md-sys-elevation-5);
}

.mdc-elevation--z6 {
  box-shadow: var(--md-sys-elevation-6);
}

.mdc-elevation--z7 {
  box-shadow: var(--md-sys-elevation-7);
}

.mdc-elevation--z8 {
  box-shadow: var(--md-sys-elevation-8);
}

.mdc-elevation--z9 {
  box-shadow: var(--md-sys-elevation-9);
}

.mdc-elevation--z10 {
  box-shadow: var(--md-sys-elevation-10);
}

.mdc-elevation--z11 {
  box-shadow: var(--md-sys-elevation-11);
}

.mdc-elevation--z12 {
  box-shadow: var(--md-sys-elevation-12);
}

.mdc-elevation--z13 {
  box-shadow: var(--md-sys-elevation-13);
}

.mdc-elevation--z14 {
  box-shadow: var(--md-sys-elevation-14);
}

.mdc-elevation--z15 {
  box-shadow: var(--md-sys-elevation-15);
}

.mdc-elevation--z16 {
  box-shadow: var(--md-sys-elevation-16);
}

.mdc-elevation--z17 {
  box-shadow: var(--md-sys-elevation-17);
}

.mdc-elevation--z18 {
  box-shadow: var(--md-sys-elevation-18);
}

.mdc-elevation--z19 {
  box-shadow: var(--md-sys-elevation-19);
}

.mdc-elevation--z20 {
  box-shadow: var(--md-sys-elevation-20);
}

.mdc-elevation--z21 {
  box-shadow: var(--md-sys-elevation-21);
}

.mdc-elevation--z22 {
  box-shadow: var(--md-sys-elevation-22);
}

.mdc-elevation--z23 {
  box-shadow: var(--md-sys-elevation-23);
}

.mdc-elevation--z24 {
  box-shadow: var(--md-sys-elevation-24);
}

.mdc-elevation-transition {
  transition: var(--md-sys-elevation-transition);
}

html {
  -webkit-overflow-scrolling: auto;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  height: 100vh;
  touch-action: manipulation;
  font-family: 'louis george cafe', sans-serif;
  display: block;
  font-size: 16px;
  --blueNavy: #022439;
  --amarillito: #f8bc02;
  --gray: #707070;
  --primary: #10beca;
  --appBarHeight: 60px;
  background-color: var(--blueNavy);
}

html body {
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none !important;
}

*,
:after,
:before,
button,
button:focus,
input,
textarea {
  -webkit-tap-highlight-color: transparent;
  box-sizing: inherit;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: text;
}

body,
ul,
li,
ol,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  direction: ltr;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body div[id='contenedor_principal'] ~ div {
  display: none;
}

body,
body > *,
body > * > * {
  height: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
input {
  font-family: Nunito;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App > div {
  flex-grow: 1;
  width: 100vw;
  display: flex;
  justify-content: center;
}
.App > div > main {
  max-width: 1150px;
  width: 100%;
  min-height: 100%;
  background-color: white;
  padding: calc(2rem + var(--appBarHeight)) 4rem 2rem;
}

/*padding-top: var(--appBarHeight)*/
.imageHeader {
  overflow: hidden;
  width: 100%;
  border-radius: 30px;
  box-shadow: var(--md-sys-elevation-6);
  position: relative;
  padding-top: 34.6153846154%;
}

.imageHeader > img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}

.productsGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  margin-top: 2rem;
  border-radius: 1rem;
}
@media (max-width: 800px) {
  .productsGrid {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  .productsGrid {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=App.css.map */
