.mine-button {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  column-gap: 0.5rem;
  cursor: pointer;
  box-shadow: var(--md-sys-elevation-1);
  transition-duration: 400ms;
  padding: 0 0.5rem;
}
.mine-button:hover {
  box-shadow: var(--md-sys-elevation-2);
}
.mine-button.disabled {
  filter: grayscale(50%);
}
.mine-button-text {
  color: currentColor;
  font-weight: 900;
}
.mine-button-prepIcon,
.mine-button-postIcon {
  color: currentColor;
  height: 50%;
}
