@charset "UTF-8";
.mine-cart-card {
  display: flex;
  height: 100px;
  column-gap: 0.5rem;
}
.mine-cart-card-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mine-cart-card-img--container {
  position: relative;
  height: 100%;
  width: 100px;
  box-shadow: var(--md-sys-elevation-1);
  overflow: hidden;
  border-radius: 1rem;
}
.mine-cart-card-main {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}
.mine-cart-card-main--left,
.mine-cart-card-main--right {
  display: flex;
  flex-direction: column;
}
.mine-cart-card-main--left .mine-cart-card-main--up {
  flex-grow: 1;
}
.mine-cart-card-title {
  color: var(--blueNavy);
}
.mine-cart-card-description {
  color: var(--gray);
  text-decoration: underline;
  cursor: pointer;
}
.mine-cart-card-price {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
  color: var(--gray);
}
.mine-cart-card-price::after {
  content: ' €';
}
.mine-cart-card-howManyProducts,
.mine-cart-card-total {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  justify-content: end;
}
.mine-cart-card-howManyProducts--counter,
.mine-cart-card-total--counter {
  display: flex;
  column-gap: 0.5rem;
}
.mine-cart-card-howManyProducts--count,
.mine-cart-card-total--count {
  font-family: Nunito;
  font-weight: 700;
  font-size: 20px;
}
.mine-cart-card-howManyProducts--title,
.mine-cart-card-total--title {
  font-weight: 700;
  font-size: 16px;
}
.mine-cart-card-howManyProducts--price,
.mine-cart-card-total--price {
  color: var(--primary);
  font-family: Nunito;
  font-weight: 800;
  font-size: 24px;
}
.mine-cart-card-howManyProducts--price::after,
.mine-cart-card-total--price::after {
  content: ' €';
}
.mine-cart-card-howManyProducts .mine-icon,
.mine-cart-card-total .mine-icon {
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.mine-cart-card-howManyProducts {
  flex-grow: 1;
}
.mine-cart-card-separator {
  margin: 1rem 0;
}
