header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: var(--appBarHeight);
  background-color: white;
  z-index: 10;
  box-shadow: var(--md-sys-elevation-5);
  padding: 0 1rem;
  position: fixed;
}
header > div {
  max-width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
header > div > div {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 1px;
  display: flex;
  align-items: center;
}
header .logo span {
  font-size: 26px;
  font-weight: 900;
}
header .searchInput {
  justify-content: center;
}
header .searchInput > div {
  height: 28px;
  border-radius: 14px;
  border: solid var(--blueNavy) 3px;
  width: 162px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .searchInput > div > div.icon {
  width: 22px;
  height: 22px;
  min-width: 22px;
  min-height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .searchInput > div > div.input {
  flex-grow: 1;
  display: flex;
  align-items: center;
}
header .searchInput > div > div.input > input {
  width: 100%;
  border: 0;
  background-color: transparent;
}
header .kartIcon {
  justify-content: end;
}
header .kartIcon > div {
  position: absolute;
  cursor: pointer;
}
header .kartIcon .notchInvisibleContainer {
  position: absolute;
  right: 0;
  top: 0;
  height: 0;
  width: 0;
}
header .kartIcon .notchInvisibleContainer > div {
  width: 16px;
  height: 16px;
  max-width: 16px;
  max-height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: -8px;
  top: -8px;
  background-color: var(--yellow);
}
header .kartIcon .notchInvisibleContainer > div > span {
  font-size: 10px;
  font-weight: 700;
}
